*{  margin: 0;
    padding: 0;    
    border: 0;
    outline: 0;    
    list-style: none;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: #000;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
}

.header__body{
    height: 90px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    height: 60px;
}

.logo {
    width: 40px;
    margin-right: 5px;
}

.logo__p {
    font-size: 30px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__list {
    display: flex;
    align-items: center;
    width: 900px;
    height: 60px;
    justify-content: space-around;
}

.list__li {
    width: 200px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.list__button {
    width: 200px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #621DED;
    border-radius: 15px;
    padding: 20px;
}

.nav__burger {
    width: 65px;
    height: 40px;
    position: relative;
    display: none;
}

.nav__burger-parts {
    width: 100%;
    background-color: #fff;
    height: 10%;
    margin-top: 30%;
    position: absolute;
    border-radius: 20px;
}

.nav__burger-parts::before{
    content: '';
    width: 100%;
    background-color: #fff;
    height: 100%;
    margin-top: 30%;
    position: absolute;
    border-radius: 20px;
}

.nav__burger-parts::after{
    content: '';
    width: 100%;
    background-color: #fff;
    height: 100%;
    margin-top: -30%;
    position: absolute;
    border-radius: 20px;
}

.nav__burger:hover{
    transition: 0.3s;
    box-shadow: 0 0 30px rgb(125, 17, 168);
    font-size: 35px;
    cursor: pointer;
    transform: scale(1.2);

}


.header__logo:hover{
    cursor: pointer;
}

.list__button:hover{
    transform: scale(1.2);
    transition: 0.3s;
    box-shadow: 0 0 10px rgb(125, 17, 168);
    cursor: pointer;
}

.list__li:hover{
    transition: 0.3s;
    box-shadow: 0 0 10px rgb(125, 17, 168);
    font-size: 35px;
    cursor: pointer;
}

.main {

}

.afhead {
    margin: 250px auto 200px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.afhead__logo {
    width: 150px;
    margin-bottom: 40px;
}

.afhead__title {
    font-size: 75px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.afhead__info {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 40px;
}

.afhead__button {
    width: 350px;
    height: 75px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #621DED;
    border-radius: 15px;
}

.afhead__button:hover{
    transform: scale(1.2);
    transition: 0.3s;
    box-shadow: 0 0 10px rgb(125, 17, 168);
    cursor: pointer;
}

.vidios {

}

.vidios__title {
    font-size: 52px;
    font-weight: 400;
    margin: 20px;
}

.vidios__info {
    font-size: 30px;
    font-weight: 400;
    margin: 20px ;
    max-width: 800px;
}

.vidios__examples {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    height: 1800px;
}


.vidios__examples-left {

}

.examples__left {
    max-width: 516px;
    height: 600px;
}

.vidio {
    width: 516px ;
    height: 292px;
    background-color: #13151B;
    border-radius: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause:hover{
    cursor: pointer;
}

.exaples__title {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
}

.examples__p {
    font-weight: 400;
    font-size: 20px;
    max-width: 516px;
}

.vidio1 {
    width: 516px;
    height: 516px;
    background-color: #13151B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vidios__examples-right {
    margin-top: 150px;
}

.examples__right {
    width: 516px;
    height: 500px;
}

.vidios img{
    background-color: #fff;
}

.video-info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.video-info-left {
    padding: 30px;
}

.New {
    width: 127px;
    height: 20px;
    background: #a37bf453;
    color: #A37BF4;
    border-radius: 20px;
    text-align: center;
}

.video__info-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.video__info-p {
    font-size: 20px;
    font-weight: 400
}

@media (max-width: 1403px) { 
    .logo__p{
        font-size: 25px;
    }

    .logo{
        width: 30px;
    }

    .list__li{
        font-size: 25px;
    }

    .header__nav{
        width: 700px;
    }

    .Header__list{
        width: 500px;
    }

    .list__button{
        width: 150px;
        font-size: 25px;
        text-align: center;
    }
}

@media (max-width: 1315px) {
    .afhead__title{
        font-size: 65px;
    }

}

@media (max-width: 1150px) { 
    .vidios__examples{
        flex-wrap: wrap;
    }

    .vidio{
        width: 456px;
    }
    
    .vidio1{
        width: 456px;
    }
    
    .examples__left {
        width: 476px;
        height: 500px;
        padding-left: -20px;
    }

}
@media (max-width: 1050px) { 
    .video-info{
        margin-top: 1600px;
    }
}
@media (max-width: 1011px) { 
    .nav__burger{
        display: block;
    }


    .Header__list{
        display: none;
    }

    .header__nav{
        width: 350px;
    }
} 

@media (max-width: 741px) { 
    .video-info{
        flex-wrap: wrap;
    }

}

@media (max-width: 870px) {
    .afhead__title{
        font-size: 45px;
    }

    .afhead__info{
        font-size: 30px;
    }


}

@media (max-width: 603px) { 
    .afhead__title{
        font-size: 35px;
    }

    .afhead__info{
        font-size: 20px;
    }

    .afhead__button{
        width: 200px;
        font-size: 30px;
        text-align: center;
    }

    .header__nav{
        width: 250px;
    }
    
    .examples__p{
        font-size: 18px;
    }
}

.slider {
    max-width: 900px;
    margin: 50px auto 30px;
    text-align: center;
}

.slider__title {
    font-size: 60px;
    margin-bottom: 30px;
}

.slider__p {
    font-size: 30px;
    margin-bottom: 20px;
}

.slider__img {

}

.coments {
    max-width: 1100px;
    margin: 50px auto;
}

.coments__title {
    font-size: 60px;
    text-align: center;
    font-weight: 400;
}

.project__coments {
    display: flex;
    justify-content: space-between;
}

.coments__p {
    font-size: 40px;
    text-align: center;
    font-weight: 4\200;
}

.coment {
    width: 570px;
    height: 260px;
    background: #13151B;
    border: 1px solid #1B1E26;
    border-radius: 6px;
    margin: 50px 0;
}
.nickname {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
}
.nick__logo {
}
.nick__text {
}
.nick {
}
.username {
}
.coment__text {
}